frontend/target
frontend/node_modules
Cargo.lock
frontend/dist/
frontend/.env
dist/
tailwind.css


backend/target
backend/.github
backend/**/*.rs.bk
backend/wasm-pack.log
backend/build/
backend/dist/
backend/.env
backend/.dev.vars
backend/wrangler.toml

