version: "3"
services:
  web:
    build: ./dockers
    env_file: .env
    ports:
      - "8080:8080"
    tty: true
    volumes:
      - .:/usr/src/app
      - rust_target_dir:/tmp/target

volumes:
  rust_target_dir:
