{% include "project_header.html" %}
<div class="mb-3">
  <div class="mb-3 font-semibold text-gray-700 text-lg sm:text-xl">
    Currently working on
  </div>
  <div class="gap-x-10 justify-center sm:columns-2">
    {% for project in works %}
      {% include "project_item.html" %}
    {% endfor %}
  </div>
</div>

<div class="mb-3">
  <div class="mb-3 font-semibold text-gray-700 text-lg sm:text-xl">
    Advidors
  </div>
  <div class="gap-8 gap-x-10 justify-center sm:columns-2">
    {% for project in advisors %}
      {% include "project_item.html" %}
    {% endfor %}
  </div>
</div>

<div class="mb-3">
  <div class="mb-3 font-semibold text-gray-700 text-lg sm:text-xl">
    Past works
  </div>
  <div class="gap-8 gap-x-10 justify-center sm:columns-2">
    {% for project in past_works %}
      {% include "project_item.html" %}
    {% endfor %}
  </div>
</div>
