[package]
name = "use_case"
version = "1.1.0"
authors = ["Masahiro Okubo"]
edition = "2021"

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
reqwest = { workspace = true }
thiserror = "1.0"
domain = { path = "../domain" }
