name: Deploy to development
on:
  workflow_dispatch:

  pull_request:
    branches:
      - main


jobs:
  build:
    uses: ./.github/workflows/_deploy.yml
    with:
      environment: development
    secrets: inherit
