name: Deploy to production
on:
  workflow_dispatch:

  pull_request:
    branches:
      - main

jobs:
  build:
    uses: ./.github/workflows/_deploy.yml
    with:
      environment: production
    secrets: inherit
