name: Deploy to production
on:
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/_deploy.yml
    with:
      environment: production
      pages_name: masahiro-me-prod
    secrets: inherit
